<div class="plan-container">
    <h1>Choisissez votre formule</h1>
    <p>Que vous débutiez ou que vous souhaitiez faire passer votre guilde au niveau supérieur, nous avons une formule adaptée.</p>
    <div class="plans-wrapper">
        <div class="free-plan">
            <h3>Formule gratuite</h3>
            <p class="euro">0 €/<span>mois</span></p>
            <span>Parfait pour commencer</span>
            <div class="features-show">
                <span>Gérez votre compte</span>
                <span>Rejoignez une guilde</span>
                <span>Fonctionnalités communautaires de base</span>
            </div>
            <button (click)="goDashboard()">Commencer</button>
        </div>
        <div class="premium-plan">
            <h3>Formule Premium</h3>
            <p class="euro">9,99 €/<span>mois</span></p>
            <span>Débloquez toutes les fonctionnalités</span>
            <div class="features-show">
                <span>Tout ce qui est inclus dans la formule gratuite</span>
                <span>Gestion avancée de guilde</span>
                <span>Création d'événements</span>
            </div>
            <button (click)="goPremium()" [disabled]="isLoading">
                <ng-container *ngIf="!isLoading; else loading">
                    Passer Premium
                </ng-container>
                <ng-template #loading>
                    <span class="loader"></span> Redirection...
                </ng-template>
            </button>
        </div>
    </div>
</div>