/* Applique un fond d'écran sur toute la page */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgb(22, 5, 23), rgb(43, 10, 54));
    background-size: cover;    /* L'image occupe tout l'écran */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* L'image reste fixe lors du défilement */
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
