/* Applique un fond d'écran sur toute la page */
@font-face {
  font-family: 'Gabarito';
  src: url('/assets/fonts/Gabarito-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* variable font, plage de poids */
  font-style: normal;
  font-display: swap;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: var(--main-dark-purple-background);
    font-family: 'Gabarito', sans-serif;
  }

/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --main-dark-purple-background: #0B0B1A;
  --blue-dark-first-layer: #12122A;
  --main-purple-for-title: #7635E2;
  --main-purple-for-button-and-text: #9C62FB;
  --purple-for-stroke: #201544;
  --purple-background-div: #313158;
  --light-purple-home: #40345F;
  --light-blue-home: #2A6E98;

}
